* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #fffef6;
}

main {
    flex: 1 0 auto;
}

nav {
    width: 100%;
    background-color: #3f5788;
    color: #fffef6;
}

nav .nav-link {
    color: #fffef6;
    transition: background-color 0.3s, color 0.3s;
}

nav .nav-link:hover {
    background-color: #9cbce7;
    color: black;
}

main > section > form {
    padding: 0.5%;
    border-bottom: 2px solid #3f5788;
}

main > section > form select {
    background-color: #fffef6;
    border-radius: 8px;
}

.row {
    width: 100%;
    margin: 0;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.gruppo {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 20em;
    height: 150px;
    border-radius: 8px;
    border: 2px solid #3f5788;
    padding: 1%;
    margin: 2%;
    transition: background-color 0.3s;    
}

.gruppo:hover {
    background-color: #9cbce7;
}

.gruppo h2 {
    margin: 1% 0;
    font-size: medium;
    font-weight: bold;
    word-wrap: break-word;
}

.gruppo p {
    margin: 1% 0;
    font-size: small;
}

.gruppo a {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: black;
    transition: font-weight 0.3s;
}

.gruppo a:hover {
    font-weight: bold;
}

main button {
    border-radius: 50%;
    border: 1px solid #3f5788;
    background-color: #3f5788;
    color: #fffef6;
    cursor: pointer;
    position: fixed;
    bottom: 12%;
    right: 3%;
    width: 40px;
    height: 40px;
    transition: background-color 0.3s;
}

main button:hover {
    background-color: #9cbce7;
    color: black;
}
